<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <!-- <title>Day Bootstrap Template - Index</title> -->
  <title>{% block title %}{{ title | striptags }}{% endblock %}</title>
  <!-- <meta content="" name="description">
  <meta content="" name="keywords"> -->
  {% block meta_block %}
		{% include "templates/includes/meta_block.html" %}
	{% endblock %}

  <!-- Favicons -->
  <!-- <link href="/assets/propms/day/assets/img/favicon.png" rel="icon">
  <link href="/assets/propms/day/assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
  {% block favicon %}
	<link
		rel="shortcut icon"
		href="{{ (favicon or "/assets/frappe/images/frappe-favicon.svg") | abs_url }}"
		type="image/x-icon"
	>
	{% endblock %}

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/propms/day/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/propms/day/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/propms/day/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/propms/day/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/propms/day/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/propms/day/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/propms/day/assets/css/style.css" rel="stylesheet">

  <script>
    window.frappe = {};
    frappe.ready_events = [];
    frappe.ready = function(fn) {
        frappe.ready_events.push(fn);
    }
    window.dev_server = {{ dev_server }};
    window.socketio_port = {{ (frappe.socketio_port or 'null') }};
    window.show_language_picker = {{ show_language_picker or 'false' }};
    </script>
    {%- block banner -%}
		{% include "templates/includes/banner_extension.html" ignore missing %}

		{% if banner_html -%}
		{{ banner_html or "" }}
		{%- endif %}
	{%- endblock -%}
</head>

<body frappe-session-status="{{ 'logged-in' if frappe.session.user != 'Guest' else 'logged-out'}}" data-path="{{ path | e }}" {%- if template and template.endswith('.md') %} frappe-content-type="markdown" {%- endif %} class="{{ body_class or ''}}">
  

  {% block content%}
  {% endblock %}
  

    
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
      <div id="preloader"></div>
    
      <!-- Vendor JS Files -->
      <script src="/assets/propms/day/assets/vendor/aos/aos.js"></script>
      <script src="/assets/propms/day/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/assets/propms/day/assets/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="/assets/propms/day/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script src="/assets/propms/day/assets/vendor/swiper/swiper-bundle.min.js"></script>
      <script src="/assets/propms/day/assets/vendor/php-email-form/validate.js"></script>
    
      <!-- Template Main JS File -->
      <script src="/assets/propms/day/assets/js/main.js"></script>
    
    </body>
    

    </html>