{% extends "www/update-password.html" %}

{% block head_include %}
{{ super() }}
{% include "propms/templates/website_v2/includes/account_head.html" %}
{% endblock %}

{% block banner %}{% endblock %}

{% block navbar %}
<a class="v2-skip-link" href="#reset-password">Skip to password form</a>
{% include "propms/templates/website_v2/includes/topbar.html" %}
{% include "propms/templates/website_v2/includes/header.html" %}
{% endblock %}

{% block page_content %}
<h1 class="v2-visually-hidden">Set Password</h1>
{{ super() }}
{% endblock %}

{% block footer %}
{% include "propms/templates/website_v2/includes/footer.html" %}
{% endblock %}