{% extends "website/doctype/web_form/templates/web_form.html" %}

{% block head_include %}
{{ super() }}
{% include "propms/templates/website_v2/includes/account_head.html" %}
{% endblock %}

{% block banner %}{% endblock %}

{% block navbar %}
<a class="v2-skip-link" href="#page-edit-profile">Skip to profile form</a>
{% include "propms/templates/website_v2/includes/topbar.html" %}
{% include "propms/templates/website_v2/includes/header.html" %}
{% endblock %}

{% block footer %}
{% include "propms/templates/website_v2/includes/footer.html" %}
{% endblock %}